*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Poppins", sans-serif;
}

/* Mailchimp CSS */
.header {
  margin: 9rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3.5rem;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-bottom: 8rem 0;
}
.header__button {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5rem 0;
}
.header__illustration {
  margin-top: 6rem;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10rem;
  margin-top: 13rem;
  margin-bottom: 2rem;
}

.container {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8rem;
  background-color: #f6fbff;
  padding: 8rem 0;
  text-align: center;
}
.container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 0 2.2rem;
}
.container__illustration {
  padding: 0 5rem;
}
.container__img {
  display: block;
  width: 100%;
}

.container-conversations {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8rem;
  background-color: white;
  padding: 14rem 0;
  text-align: center;
}
.container-conversations__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 0 2.2rem;
}
.container-conversations__illustration {
  padding: 0 5rem;
}
.container-conversations__img {
  display: block;
  width: 100%;
}

.container-question {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8rem;
  background-color: white;
  padding: 16rem 0;
}
.container-question__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 0 2.2rem;
}

.background-white {
  background-color: white;
}

.footer {
  background-color: #00252e;
  color: #f5faff;
  padding: 6rem 2.5rem;
  display: grid;
  row-gap: 12rem;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.newsletter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.3rem;
}
.newsletter__heading {
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.newsletter__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.newsletter__input {
  width: 100%;
  border: none;
  border-radius: 0.6rem;
  padding: 1.6rem;
}
.newsletter__input:focus {
  outline: 2px solid red;
}
.newsletter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 1.5rem;
}

.contact__logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 18rem;
}
.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  margin-top: 1.5rem;
}
.contact__text {
  font-size: 1.4rem;
  line-height: 2.3rem;
}
.contact__information-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-size: 2.5rem;
}
.contact__icon {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.contact__icon:hover {
  color: #ff8fd8;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.information__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

.background-curve-mobile {
  display: block;
  width: 100%;
}

.background-curve-desktop {
  display: none;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 2.5rem;
}
.navbar__logo {
  width: 10rem;
  cursor: pointer;
}

.stats-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}
.stats-card__icon {
  width: 2.5rem;
}
.stats-card__heading {
  color: #00252e;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 6rem;
}
.stats-card__text {
  font-size: 1.4rem;
  color: rgba(0, 37, 46, 0.5);
}

.btn {
  text-decoration: none;
  cursor: pointer;
}
.btn--transparent {
  color: #ff8fd8;
  font-size: 10px;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff8fd8;
  border-radius: 3rem;
  background-color: transparent;
}
.btn--primary {
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: #f5faff;
  background-color: #ff52bf;
  border: none;
  border-radius: 3rem;
  padding: 1.1rem 4rem;
  -webkit-box-shadow: 0px 10px 10px -14px #42445a;
          box-shadow: 0px 10px 10px -14px #42445a;
}
.btn--primary:hover {
  background-color: #ff8fd8;
}
.btn--rectangle {
  font-size: 1.6rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: #f5faff;
  background-color: #ff52bf;
  border: none;
  border-radius: 0.5rem;
  padding: 1.3rem 4rem;
}
.btn--rectangle:hover {
  background-color: #ff8fd8;
}

.text--center {
  text-align: center;
}

.heading--primary {
  color: #00252e;
  font-family: "Poppins";
  font-size: 2.5rem;
}

.heading--secondary {
  color: #00252e;
  font-family: "Poppins";
  font-size: 2rem;
}

.text--primary {
  font-size: 1.4rem;
}

.text--secondary {
  font-size: 1.4rem;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 3rem;
  bottom: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff8fd8;
  border-radius: 100%;
  padding: 1.2rem;
  opacity: 0.7;
  z-index: 1000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.scrollup:hover {
  background-color: #ff52bf;
  opacity: 0.7;
}
.scrollup__icon {
  color: black;
  font-size: 1.5rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ff52bf;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff8fd8;
}

@media screen and (min-width: 600px) {
  .navbar {
    padding: 5rem;
  }
  .navbar__logo {
    width: 15rem;
  }

  .header {
    padding: 0 10rem;
  }

  .stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15rem;
    margin-bottom: 8rem;
  }

  .container {
    padding: 8rem 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content illustration";
    text-align: start;
  }
  .container__illustration {
    grid-area: illustration;
  }
  .container__content {
    grid-area: content;
    padding: 0;
  }

  .container-conversations {
    padding: 8rem 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "illustration content";
    text-align: start;
  }
  .container-conversations__illustration {
    grid-area: illustration;
  }
  .container-conversations__content {
    grid-area: content;
    padding: 0;
  }

  .container-question {
    gap: 2rem;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "contact newsletter";
    gap: 5rem;
    padding: 7rem;
  }

  .newsletter {
    grid-area: newsletter;
  }

  .contact {
    grid-area: contact;
  }

  .btn--transparent {
    font-size: 1.5rem;
  }

  .background-curve-mobile {
    display: none;
  }

  .background-curve-desktop {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    padding: 5rem 10rem;
  }

  .header {
    padding: 0 15rem;
  }
  .header__illustration {
    width: 90%;
    margin: 0 auto;
  }

  .stats {
    gap: 30rem;
  }

  .container {
    padding: 8rem;
  }
  .container__illustration {
    width: 100%;
  }
  .container__content {
    width: 80%;
  }

  .container-conversations {
    padding: 8rem;
  }
  .container-conversations__illustration {
    width: 100%;
  }
  .container-conversations__content {
    width: 80%;
  }

  .container-question {
    gap: 2rem;
  }

  .footer {
    padding: 10rem;
    gap: 20vw;
  }

  .btn--primary {
    font-size: 1.5rem;
    padding: 1.5rem 7rem;
  }

  .heading--primary {
    font-size: 3rem;
  }

  .heading--secondary {
    color: #00252e;
    font-family: "Poppins";
    font-size: 2.5rem;
  }

  .text--primary {
    font-size: 2rem;
    width: 80%;
  }

  .text--secondary {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1300px) {
  .navbar {
    padding: 5vw;
  }
  .navbar__logo {
    width: 25rem;
  }

  .stats-card__icon {
    width: 5rem;
  }
  .stats-card__heading {
    font-size: 10rem;
  }
  .stats-card__text {
    font-size: 2.5rem;
  }

  .header {
    gap: 8rem;
  }
  .header__illustration {
    width: 70%;
  }

  .newsletter__button {
    margin: 0;
  }
  .newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }

  .btn--primary {
    font-size: 2rem;
  }
  .btn--transparent {
    font-size: 2rem;
  }

  .heading--primary {
    font-size: 4.5rem;
  }

  .text--primary {
    font-size: 3rem;
    width: 80%;
  }

  .heading--secondary {
    font-size: 4rem;
  }

  .text--secondary {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */