// Colors
$pink: hsl(322, 100%, 66%);
$pink-light: hsl(321, 100%, 78%);
$red-light: hsl(0, 100%, 63%);
$blue-very-pale: hsl(207, 100%, 98%);
$cyan-very-dark: hsl(192, 100%, 9%);

@import "base";
@import "layout";
@import "components";
